.box {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: width 1s, height 1s, transform 1s;
}
.box:hover {
  width: 500px;
  height: 500px;
  background-color: blue;
}
.img {
  width: 200px;
  height: 200px;
  transition-delay: 1s;
}
.img:hover {
  transition: all 3s;
  transform: rotate(180deg);
}
